@font-face {
    font-family: 'Graphik-regular';
    src: url('Graphik-Regular-Web.woff2');
    src: url('Graphik-Regular-Web.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Graphik-semibold';
    src: url('Graphik-Semibold-Web.woff2');
    src: url('Graphik-Semibold-Web.woff') format('woff');
    font-weight: semibold;
    font-style: semibold;
}
@font-face {
    font-family: 'Graphik-bold';
    src: url('Graphik-Bold-Web.woff2');
    src: url('Graphik-Bold-Web.woff') format('woff');
    font-weight: bold;
    font-style: bold;
}
