/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
	overflow: hidden;
	background-color: #EAEDE2;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Typography */

body,
input,
textarea {
    font: 14px/20px 'Graphik-regular', sans-serif;
    color: rgb(105, 140, 60);
    -webkit-font-smoothing: antialiased;
}

pre,
code { font:normal 12px/20px monospace; }

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

h1 {
  font-family: 'Graphik-bold', "Arial Narrow", sans-serif;
  line-height: 1em;
  font-size: 2em;
}

a {
  color:#369;
  text-decoration:none;
}

/* Layout */

h1 {
  display: block;
  margin: 20px 0;
}

p {
	left: 18px;
  margin-bottom: 20px;
	color: rgb(00,60,90);
  font-size: 14px;
}

body > div {
  position: relative;
  z-index: 1;
}

.map {
	position: absolute;
	height: 100%;
	width: 100%;
	z-index: 0;
}

#content {
	position: absolute;
  height: 100%;
	width: 480px;
	bottom: 0px;
}

#layer-container {
	position: absolute;
  top: 293px;
  bottom: 65px;
  margin-left: 57px;
  height: calc(100% - 300px - 65px);
  overflow-y: auto;
  overflow-x: hidden;
}

/* width */
::-webkit-scrollbar {
  width: 6px;
	border-radius: 3px;
	transition: .3 ease;
	background: rgba(105, 140, 60, 0);
}

/* Track */
::-webkit-scrollbar-track {
	width: 20px;
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: rgba(105, 140, 60, 0.8);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(105, 140, 60, 0.8);
	border-radius: 3px
}

#framing {
	margin-left: 65px;
	margin-top: 65px;
}

.legend {
	border-radius: 4px;
  background-color: rgba(255,255,255, 0.8);
  padding: 26px;
	box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
	color: rgb(0, 60, 90);
}

.legend i, span {
  width: 13px;
  height: 13px;
  float: left;
  margin-right: 8px;
}

.legend .title {
	color: #003c5a;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 8px;
}

.legend  br {
  line-height: 25px;
}

.legend	i.urban {
  background-color: #555c22;
}
.legend	i.forest-open {
  background-color: #218d4c;
}
.legend	i.forest-closed {
  background-color: #0e6330;
}
.legend	i.agriculture {
  background-color: #dba12e;
}
.legend	i.oilpalm {
  background-color: #5c5ebd;
}
.legend	i.agroforestry {
  background-color: #80ff28;
}
.legend	i.cocoa {
  background-color: #b158ea;
}

#landcover {
	margin-top: 40px;
}

.layers a {
  padding: 18px;
  margin: 8px;
	box-shadow: 0 0 6px rgba(80, 80, 80, 0.5);
  background: white;
  color: rgb(105, 140, 60);
	font: 1em/1.5em 'Graphik-semibold',  "Arial Narrow", sans-serif;
  width: 350px;
  float: left;
  margin-right: 20px;
	cursor: pointer;
}

.layers a:hover, .layers a:focus {
	background: rgb(241, 246, 234);
}

.layers a.active {
  background: rgb(00, 60, 90);
  color: white;
}

#foreground-layers.active {
	color: white;
}

#parcels.active {
	background: #9a122b;
}

#satelligence.active {
	background: #f05a23;
}

#parcs.active {
	box-sizing: border-box;
	width: 386px;
	margin: 5px;
	padding-left: 15px;
	margin-left: 8px;
	background: rgb(241, 246, 234);
	color: rgb(105, 140, 60);
	border: 3px dashed rgb(105, 140, 60);
}

#admitted.active {
	box-sizing: border-box;
	width: 386px;
	margin: 5px;
	padding-left: 15px;
	margin-left: 8px;
	background: rgba(00, 60, 90, 0.1);
	color: rgb(00, 60, 90);
	border: 3px dashed rgb(00, 60, 90);
}


#parcels-admitted.active {
	box-sizing: border-box;
	width: 386px;
	margin: 5px;
	padding-left: 15px;
	margin-left: 8px;
	background-color: rgba(154,18,43, 0.1);
	color: rgb(154,18,43);
	border: 3px dashed rgb(154,18,43);
}

#illegals.active {
	box-sizing: border-box;
	width: 386px;
	margin: 5px;
	padding-left: 15px;
	margin-left: 8px;
	background-color: rgba(240, 90, 35, 0.1);
	color: rgb(240, 90, 35);
	border: 3px dashed rgb(240, 90, 35);
}

#f05a23
